{% extends 'base.html.twig' %}

{% block title %} Plushie {% endblock %}

{% block body %}

    <section class="row">
        {% for plush in plushie %}
            <article class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">{{plush.name}}</h5>
                    <p class="card-text">{{plush.description}}</p>
                    <a href="{{ path('plush_show', {id: plush.id}) }}" class="btn btn-primary">See closer</a>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}
